.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: var(--token-K7iAx4WXQ);
}
@media (min-width: 768px) {
  .root {
    height: 5rem;
    align-items: center;
    justify-content: flex-start;
  }
}
.infoIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 100%;
  opacity: var(--token-nLZiZmfPP);
  margin-right: 2rem;
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 768px) {
  .infoIcon {
    width: 100%;
    max-width: 5rem;
    min-width: 0;
  }
}
.darkModeIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 100%;
  opacity: var(--token-nLZiZmfPP);
  flex-shrink: 0;
  min-height: 0;
}
@media (min-width: 768px) {
  .darkModeIcon {
    width: 100%;
    max-width: 5rem;
    min-width: 0;
  }
}
