.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 3rem;
  height: 7.5rem;
  max-width: 100%;
  position: relative;
  padding-right: var(--token-rbhqPMB6x);
}
@media (min-width: 768px) {
  .root {
    width: 4rem;
    height: 8.5rem;
    max-height: 13rem;
  }
}
.svg__bKAc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: var(--token-nLZiZmfPP);
  min-width: 0;
  min-height: 0;
}
@media (min-width: 768px) {
  .svg__bKAc {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    min-width: 0;
    min-height: 0;
  }
}
.svg__mdBw5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: var(--token-nLZiZmfPP);
  min-width: 0;
  min-height: 0;
}
@media (min-width: 768px) {
  .svg__mdBw5 {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    min-width: 0;
    min-height: 0;
  }
}
